{% extends 'base.html' %}
{% block title %} Soda Ledger{% endblock %}
{% block page_title %} Buy Soda {%endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col s12 ">
            <div class="card grey lighten-4">
                <div class="card-content">
                    <span class="card-title center"><h3>Remaining Balance: <span id="balance">{{ "${:,.2f}".format(cart.user.balance - cart.total_cost) }}</span></h3></span>
                    <div class="row">
                        <form id="choose_existing" action="add_soda" method="post">
                    {{ csrf_token() }}
                    <input type="hidden" value="" id="existing_id" name="id">

                    </form>
                    <form id="choose_new" action="../soda_admin/add_soda" method="post">
                        {{ csrf_token() }}
                        <input type="hidden" value="True" name="new_entry">
                    </form>
                    <div class="row">
                        <div class="col s12">
                            <div class="input-field">

                    <select id="choose_select" onchange="add_item_to_cart_ajax();">
                        <option value="" disabled selected>{{ 'Choose A Soda' if items|length > 0 else 'Inventory Empty'}}</option>
                        {% if c.HAS_SODA_ADMIN_ACCESS %}
                        <option id="new" value="new">Add New Soda</option>
                        {% endif %}
                        {% for cat in items %}
                        <option id='{{ cat.id }}' value="#{{ cat.id }}" data-name="{{ cat.name }}" data-id="{{ cat.id }}" data-max="{{ cat.current_quantity }}" data-price="{{ cat.current_price }}">{{ cat.name }} - ${{ cat.current_price }} - {{ cat.current_quantity }} Remaining</option>
                        {% endfor %}
                    </select>
                            </div>
                        </div>

                        </div>
                        <div class="cart" id="cart">
                            {% for i in cart.items %}
                            <div class="row cart-item" id="{{ i.id }}">
                                <div class="col s9 m4 l8">
                                    <div class="input-field">
                                        <input class="fake-disabled" disabled="disabled" id="name1" value="{{ i.soda.name }}">
                                    </div>
                                </div>
                                <div class="col s3 m2 l2">
                                    <div class="input-field">
                                        <input class="fake-disabled" disabled="disabled" id="price1" step="0.01" value="{{ i.soda.current_price}}" type="number"></div>
                                </div>
                                <div class="col s6 m3 l1">
                                    <div class="input-field">
                                        <input min="1" max="{{ i.soda.current_quantity }}" value="{{ i.quantity }}" required="required" type="number" id="soda_input{{ loop.index }}" onblur="update_cart_ajax('{{ i.soda.id}}', this.value);">
                                    </div>
                                </div>
                                <div class="col s6 m3 l1">
                                    <div class="input-field center">
                                        <a onclick="remove_item_ajax('{{ i.id }}')" href="#!"><i class="fa fa-minus fa-3x"></i></a>
                                    </div>
                                </div>
                            </div>

                            {% endfor %}
                        </div>
                        <div class="row">
                            <div class="col s6 right-align">
                                <div class="chip">Total: <span id="total">{{ "${:,.2f}".format(cart.total_cost) }}</span></div>
                            </div>
                            <div class="col s6 left-align">
                                <div class="chip">Total: #<span id="total_items">{{ cart.total_items }}</span></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s6 right-align">
                                <div class="chip"><a class="" href="#!" onclick="empty_cart_ajax()">Empty Cart</a></div>
                            </div>
                            <div class="col s6 left-align">
                                <div class="chip"><a class="modal-trigger" onclick="get_confirm_items()" href="#confirm">Checkout</a></div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal modal-fixed-footer" id="confirm">
        <div id="confirm_content" class="modal-content">
            <div class="center-align">
                <span id="confirm_message"></span>
                <div id="confirm_items">
                    <br>
                    <div class="preloader-wrapper active valign-wrapper">
                        <div class="spinner-layer spinner-red-only">
                          <div class="circle-clipper left">
                            <div class="circle"></div>
                          </div><div class="gap-patch">
                            <div class="circle"></div>
                          </div><div class="circle-clipper right">
                            <div class="circle"></div>
                          </div>
                        </div>
                      </div>

                </div>
            </div>
        </div>
        <div class="modal-footer">

            <a href="{{ c.PATH }}/accounts/logout" class="waves-effect waves-green btn-flat">Exit</a>
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Make Another Purchase</a>
        </div>
    </div>
<script>
    var global_num = 1;
    var total_price = 0;
    var openPage = function(value){
      window.open(value, "_self");
    };

     var choose_existing = function(id){
        document.getElementById('existing_id').value = id;
        document.getElementById('choose_existing').submit();
    };
    var choose_select_change = function(){
        var val = document.getElementById('choose_select').value;
        if(val) {
            if (val == 'new') {
                document.getElementById('choose_new').submit();
            }
            else{
                choose_existing(val);
            }
        }
    };

    var update_quantity = function(id){
      var current_value  = $('#choose_select').val();
      var current_option = $(current_value);
      var current_price = current_option.data('price');
      var current_id = current_option.data('id');
      var current_name = current_option.data('name');
      var current_quantity = current_option.data('max');

      if(current_name) {
          current_option.attr({
              'disabled': true
          });
          $('#cart').append(create_cart_element(current_id, current_name, current_price, current_quantity));
          get_total_price();
      }
    };

    var get_confirm_items = function(){
      $.ajax({
          'url': 'confirm_items',
          'method': 'POST',
          'data': {
              'csrf_token': csrf_token
          },
          success: function(e){

              if(e.status){
                  var confirm_items_box = $("#confirm_items");
                  confirm_items_box.empty();
                 confirm_items_box.append(e.code);
                 $("#confirm_message").text(e.message);
              }
          }
      })
    };

    var get_total_price = function(){
        total_price = 0;
        for(var i = 1; i < global_num; i++){
              total_price += $("#price" + i).val() * $("#quantity" + i).val();
        }
        $("#total").text(total_price);
        return total_price;
    };

    var get_remaining_balance_ajax = function(){
        $.ajax({
           url: 'user_balance',
            success: function(e){
                if(e.status){
                    $("#balance").text(e.message);
                     get_total_items_ajax();
                }
            }
        });
    };

    var get_total_items_ajax = function(){
        $.ajax({
           url: 'cart_total_items',
            success: function(e){
                if(e.status){
                    $("#total_items").text(e.message);
                    get_total_price_ajax();
                }
            }
        });
    };

    var get_total_price_ajax = function(){
        $.ajax({
            url: 'cart_total',
            success: function(e){
                if(e.status){
                    $("#total").text(e.message);


                }
            }
        });
    };

    var empty_cart_ajax = function(){
        $.ajax({
            url: 'empty_cart',
            method: 'POST',
            data: {
                'csrf_token': csrf_token
            },
            success: function(e){
                Materialize.toast(e.message, 3000);
                if(e.status){
                    $("#cart").empty();
                    get_remaining_balance_ajax();

                }
            }
        });

    };

    var update_cart_ajax = function(id, quantity){
        $.ajax({
            url: 'update_cart',
            method: 'POST',
            data: {
                'id': id,
                'quantity': quantity,
                'csrf_token': csrf_token
            },
            success: function(e){
                Materialize.toast(e.message, 3000);
                if(e.status){
                    $("#cart").append(e.code);
                    get_remaining_balance_ajax();

                }
            }
        });

    };

    var add_item_to_cart_ajax = function(){
        var current_value  = $('#choose_select').val();
        var current_option = $(current_value);
        var current_id = current_option.data('id');
        $.ajax({
            url: 'update_cart',
            method: 'POST',
            data: {
                'id': current_id,
                'quantity': 1,
                'csrf_token': csrf_token
            },
            success: function(e){
                Materialize.toast(e.message, 3000);
                if(e.status){
                    $("#cart").append(e.code);
                    get_remaining_balance_ajax();

                }
            }
        });
    };

    var remove_item_ajax = function(id){
      $.ajax({
         url: 'remove_item',
         method: 'POST',
         data: {
             'id': id,
             'csrf_token': csrf_token
         },
         success: function(e){
             Materialize.toast(e.message, 3000);
             if(e.status){
                 $("#" + id).remove();
                 get_remaining_balance_ajax();
             }
         }
      });
    };

</script>
{% endblock %}

{% block jquery_ready %}
$('select').material_select();
$('.modal').modal({
    dismissible: false,
    complete: function(){
        location.reload();
    }
});
{% endblock %}