{% extends 'base.html' %}
{% block title %} Soda Ledger{% endblock %}
{% block page_title %} Buy Soda {%endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col s12 ">
            <div class="card grey lighten-4">
                <div class="card-content">
                    <span class="card-title center"><h3>Remaining Balance: {{ "${:,.2f}".format(cart.user.balance) }}</h3></span>
                    <div class="row">
                        <form id="choose_existing" action="add_soda" method="post">
                    {{ csrf_token() }}
                    <input type="hidden" value="" id="existing_id" name="id">

                    </form>
                    <form id="choose_new" action="add_soda" method="post">
                        {{ csrf_token() }}
                        <input type="hidden" value="True" name="new_entry">
                    </form>
                    <div class="row">
                        <div class="col s12">
                            <div class="input-field">

                    <select id="choose_select" onchange="add_item_to_cart_ajax();">
                        <option value="" disabled selected>Choose A Soda</option>
                        {% if c.HAS_SODA_ADMIN_ACCESS %}
                        <option value="new">Add New Soda</option>
                        {% endif %}
                        {% for cat in items %}
                        <option id='{{ cat.id }}' value="#{{ cat.id }}" data-name="{{ cat.name }}" data-id="{{ cat.id }}" data-max="{{ cat.current_quantity }}" data-price="{{ cat.current_price }}">{{ cat.name }} - ${{ cat.current_price }} - {{ cat.current_quantity }} Remaining</option>
                        {% endfor %}
                    </select>
                            </div>
                        </div>

                        </div>
                        <div class="cart" id="cart">
                            {% for i in cart.items %}
                            <div class="row cart-item">
                                <div class="col s9 m4 l8">
                                    <div class="input-field">
                                        <input class="fake-disabled" disabled="disabled" id="name1" value="{{ i.soda.name }}">
                                    </div>
                                </div>
                                <div class="col s3 m2 l2">
                                    <div class="input-field">
                                        <input class="fake-disabled" disabled="disabled" id="price1" step="0.01" value="{{ i.soda.current_price}}" type="number"></div>
                                </div>
                                <div class="col s6 m3 l1">
                                    <div class="input-field">
                                        <input min="1" max="{{ i.soda.current_quantity }}" value="{{ i.quantity }}" required="required" type="number" id="soda_input{{ loop.index }}" onblur="update_cart_ajax('{{ i.soda.id}}', this.value);">
                                    </div>
                                </div>
                                <div class="col s6 m3 l1">
                                    <div class="input-field center">
                                        <a><i class="fa fa-minus fa-3x"></i></a>
                                    </div>
                                </div>
                            </div>

                            {% endfor %}
                        </div>
                        <div class="row">
                            <div class="col s12 right-align">
                                <div class="input-field">
                                    <a class="btn" onclick="empty_cart_ajax()">Empty Cart</a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12 right-align">
                                <a class="btn">Total: <span id="total">{{ "${:,.2f}".format(cart.total_cost) }}</span></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12 right-align">
                                <a class="btn">Total: #<span id="total_items">{{ cart.total_items }}</span></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12 right-align">
                                <a class="btn" href="confirm">Confirm Purchase?</a>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var global_num = 1;
    var total_price = 0;
    var openPage = function(value){
      window.open(value, "_self");
    };

     var choose_existing = function(id){
        document.getElementById('existing_id').value = id;
        document.getElementById('choose_existing').submit();
    };
    var choose_select_change = function(){
        var val = document.getElementById('choose_select').value;
        if(val) {
            if (val == 'new') {
                document.getElementById('choose_new').submit();
            }
            else{
                choose_existing(val);
            }
        }
    };

    var update_quantity = function(id){
      var current_value  = $('#choose_select').val();
      var current_option = $(current_value);
      var current_price = current_option.data('price');
      var current_id = current_option.data('id');
      var current_name = current_option.data('name');
      var current_quantity = current_option.data('max');

      if(current_name) {
          current_option.attr({
              'disabled': true
          });
          $('#cart').append(create_cart_element(current_id, current_name, current_price, current_quantity));
          get_total_price();
      }
    };

    var create_cart_element = function(id, name, price, quantity){
        var row_element = $("<div></div>");
        var name_col = $("<div></div>");
        var quantity_col = $("<div></div>");
        var minus_col = $("<div></div>");
        var price_col = $("<div></div>");

        var name_input_div = $("<div></div>");
        var quantity_input_div = $("<div></div>");
        var minus_input_div = $("<div></div>");
        var price_input_div = $("<div></div>");

        var name_input = $("<input/>");
        var quantity_input = $("<input/>");
        var minus_input = $("<a></a>");
        var id_input= $("<input/>");
        var minus_icon = $("<i></i>");
        var price_input = $("<input />");

        var name_label = $("<label></label>");
        var quantity_label = $("<label></label>");
        var price_label = $("<label></label>");

        row_element.addClass('row cart-item');
        name_col.addClass("col s9 m4 l8");
        price_col.addClass("col s3 m2 l2");
        quantity_col.addClass("col s6 m3 l1");
        minus_col.addClass("col s6 m3 l1");
        name_input_div.addClass("input-field");
        quantity_input_div.addClass("input-field");
        minus_input_div.addClass("input-field center");
        price_input_div.addClass("input-field");
        minus_icon.addClass("fa");
        minus_icon.addClass("fa-minus");
        minus_icon.addClass("fa-3x");

        name_input.addClass('fake-disabled');
        price_input.addClass('fake-disabled');

        name_input.val(name);
        price_input.val(price);
        quantity_input.val(1);
        id_input.val(id);
        quantity_label.text('Quantity');
        name_label.text('Name');
        price_label.text('Price Per Item');

        name_input.attr({
            'disabled': true,
            'id': 'name'+global_num,
            'value': name
        });

        id_input.attr({
            'hidden': true,
            'name': 'id'
        });

        quantity_input.attr({
            'min': 0,
            'max': quantity,
            'required': true,
            'id': 'quantity' + global_num,
            'type': 'number',
            'onchange': 'update_cart_ajax(this)'
        });
        quantity_input.data('id', id);

        price_input.attr({
            'disabled': true,
            'id': 'price' + global_num,
            'step': 0.01,
            'type': 'number'
        });

        quantity_label.attr({
            'for': 'quantity'+ global_num
        });

        name_label.attr({
            'for': 'name' + global_num
        });

        price_label.attr({
            'for': 'price' + global_num
        });

        global_num += 1;

        minus_input.append(minus_icon);

        //name_input_div.append(name_label);
        name_input_div.append(name_input);
        //quantity_input_div.append(quantity_label);
        quantity_input_div.append(quantity_input);
        minus_input_div.append(minus_input);
        //price_input_div.append(price_label);
        price_input_div.append(price_input);

        name_col.append(name_input_div);
        quantity_col.append(quantity_input_div);
        minus_col.append(minus_input_div);
        price_col.append(price_input_div);

        row_element.append(name_col);
        row_element.append(price_col);
        row_element.append(quantity_col);
        row_element.append(minus_col);

        return row_element;

    };

    var get_total_price = function(){
        total_price = 0;
        for(var i = 1; i < global_num; i++){
              total_price += $("#price" + i).val() * $("#quantity" + i).val();
        }
        $("#total").text(total_price);
        return total_price;
    };

    var get_total_items_ajax = function(){
        $.ajax({
           url: 'cart_total_items',
            success: function(e){
                if(e.status){
                    $("#total_items").text(e.message);
                }
            }
        });
    };

    var get_total_price_ajax = function(){
        $.ajax({
            url: 'cart_total',
            success: function(e){
                if(e.status){
                    $("#total").text(e.message);
                    get_total_items_ajax();

                }
            }
        });
    };

    var empty_cart_ajax = function(){
        $.ajax({
            url: 'empty_cart',
            method: 'POST',
            data: {
                'csrf_token': csrf_token
            },
            success: function(e){
                Materialize.toast(e.message, 3000);
                if(e.status){
                    $("#cart").empty();
                    get_total_price_ajax();

                }
            }
        });

    };

    var update_cart_ajax = function(id, quantity){
        $.ajax({
            url: 'update_cart',
            method: 'POST',
            data: {
                'id': id,
                'quantity': quantity,
                'csrf_token': csrf_token
            },
            success: function(e){
                Materialize.toast(e.message, 3000);
                if(e.status){
                    $("#cart").append(e.code);
                    get_total_price_ajax();

                }
            }
        });

    };

    var add_item_to_cart_ajax = function(){
        var current_value  = $('#choose_select').val();
        var current_option = $(current_value);
        var current_id = current_option.data('id');
        $.ajax({
            url: 'update_cart',
            method: 'POST',
            data: {
                'id': current_id,
                'quantity': 1,
                'csrf_token': csrf_token
            },
            success: function(e){
                Materialize.toast(e.message, 3000);
                if(e.status){
                    $("#cart").append(e.code);
                    get_total_price_ajax();

                }
            }
        });
    };

</script>
{% endblock %}

{% block jquery_ready %}
$('select').material_select();
{% endblock %}